<!DOCTYPE html>
<html>

<head>
    <title>AgenteGPT - Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="login-wrapper">
        <div class="login-aside">
            <img src="../static/imgs/logo.png" alt="Logo AgenteGPT" class="login-logo">
            <p class="login-slogan">Venda seu <strong>infoproduto</strong> no WhatsApp com <strong>IA</strong> e foco só
                no que <strong>converte</strong>.</p>
            <img src="../static/imgs/chatbot.png" alt="chatbot" class="logo-chatbot">
            <button class="btn-trial">TESTE POR 7 DIAS</button>
        </div>

        <div class="login-form-section">
            <h1 class="login-title">Bem-vindo(a)</h1>

            <p class="login-frase">Vamos colocar seu primeiro produto no automático?</p>

            <input type="tel" placeholder="Número do whatsapp" class="login-input-whatsapp" maxlength="15">

            <div class="whatsapp-qrcode-container">
                <a href="https://wa.me/5561998548265" target="_blank">
                    <img src="../static/imgs/qrcode.png" alt="QR Code WhatsApp" class="whatsapp-qrcode-img">
                </a>
            </div>
            <button class="btn-connect-agent">CONECTAR AGENTEGPT</button>

            <p class="login-no-account">Não tem uma conta? <a href="https://pay.cakto.com.br/57bwpmr_445025"
                    class="login-link-signup">Adquira agora!</a></p>
        </div>
    </div>

    <script src="../static/script.js"></script>

</body>

</html>