<!DOCTYPE html>
<html>

<head>
    <title>AgenteGPT - Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="login-wrapper">
        <div class="login-aside">
            <img src="../static/imgs/logo.png" alt="Logo AgenteGPT" class="login-logo">
            <p class="login-slogan">Venda no WhatsApp com inteligência e foco só no que <strong>converte</strong>.</p>
            <img src="../static/imgs/chatbot.png" alt="chatbot" class="logo-chatbot">
            <button class="btn-trial">TESTE POR 7 DIAS</button>
        </div>

        <div class="login-form-section">
            <h1 class="login-title">Seja Bem-vindo(a)</h1>
            <p class="login-no-account">Não tem uma conta? <a href="#" class="login-link-signup">Adquira agora!</a></p>
            <input type="tel" placeholder="Número do whatsapp" class="login-input-whatsapp" maxlength="15">
            <button class="btn-connect-agent">CONECTAR AGENTEGPT</button>
        </div>
    </div>

<script src="../static/script.js"></script>
    
</body>

</html>